body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1543px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1543px;
  display:flex;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:48px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:75px;
  width:104px;
  height:48px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:75px;
  width:91px;
  height:48px;
  display:flex;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:75px;
  width:102px;
  height:48px;
  display:flex;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:82px;
  width:91px;
  height:48px;
  display:flex;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:75px;
  width:100px;
  height:48px;
  display:flex;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(2, 101, 220, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:139px;
  width:79px;
  height:32px;
  display:flex;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:147px;
  width:18px;
  height:18px;
  display:flex;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:145px;
  width:29px;
  height:16px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:right;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:144px;
  width:24px;
  height:24px;
  display:flex;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  padding:2px 2px 2px 12px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(170, 170, 170, 0.996078431372549);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u202_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  padding:2px 2px 2px 12px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(170, 170, 170, 0.996078431372549);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  background:inherit;
  background-color:rgba(46, 73, 115, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(136, 147, 164, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u202 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:139px;
  width:226px;
  height:32px;
  display:flex;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u202 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u202_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(136, 147, 164, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u202.disabled {
}
.u202_input_option {
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  padding:2px 2px 2px 12px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(170, 170, 170, 0.996078431372549);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  padding:2px 2px 2px 12px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(170, 170, 170, 0.996078431372549);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  background:inherit;
  background-color:rgba(46, 73, 115, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(136, 147, 164, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u203 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:139px;
  width:226px;
  height:32px;
  display:flex;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u203 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u203_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(136, 147, 164, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(170, 170, 170, 0.996078431372549);
}
#u203.disabled {
}
.u203_input_option {
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:139px;
  width:79px;
  height:32px;
  display:flex;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
